
.icon-phone:before { content: '\e800'; } /* '' */
.icon-glass:before { content: '\e801'; } /* '' */
.icon-beaker:before { content: '\e802'; } /* '' */
.icon-magic:before { content: '\e803'; } /* '' */