@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;

	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

a {
	text-decoration: none;
	color: #FBFAFA;
	font-family: 'Lato', sans-serif;
}

.button {
	background-color: #B686D6;
	display: inline-block;
	text-align: center;
	margin: 2rem 3rem;
	font-size: 3rem;
	width: 80px;
	height: 80px;
	border-radius: 80px;
	padding-top: .5rem;
}